.btn {
  border-radius: 8px;
  border: none;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: var(--material-theme-source-seed);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--material-theme-sys-light-surface-tint);
}

.btn-secondary {
  background-color: var(--material-theme-sys-light-secondary);
}

/* .btn {
  background-color: var(--material-theme-sys-light-surface-tint);
  border-radius: 8px;
  padding: 0px 10px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
.button {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: var(--material-theme-source-seed);
} */